.main-container {
    display: inline-grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 25px;
    padding: 25px;
    background-color: black;
}

.square {
    background-color: white;
}